body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.ant-btn-primary {
    color: #fff;
    background-color: #f8921d !important;
    border-color: #f8921d !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #ffffff !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.ant-tabs-nav-scroll {
  overflow: hidden;
  white-space: nowrap;
  background: coral !important;
  color: white;
}
