#myTable td, #myTable th {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

#myTable{
    width: 100%;
}

.ant-collapse-content > .ant-collapse-content-box {
     padding: 5px; 
}

  .ant-upload-picture-card-wrapper{
  padding-top: 10px;
}